*{
    margin: 0;
    padding: 0;
}
.pink{
    color: rgb(227 42 98);
}
/* header, 
nav,
footer,
section{
    margin: 50px;
} */
header{
    display: flex;
    /* text-align: center; */
    height: 50px;
    justify-content: center;
    background-color: rgb(238 235 236);
    border: none;
    padding: 30px;
}
#freeeze{
    width: 125px;
    display: inline;
    padding-right: 160px;
    grid-area: freeeze;
    color: rgb(203 51 98);
    font-size: 24px;
}
span{
    color: rgb(200 193 14);
}
.conteinerFreeeze{
    display: grid;
    grid-template-columns: repeat(7, 14px);
    grid-template-rows: repeat(4, 11px);
    grid-template-areas: '. . . . . erh .'
                        'freeeze freeeze freeeze freeeze freeeze freeeze freeeze';
}
#erh{
    grid-area: erh;
}
/* header > ul > li{
    display: inline-block;
    padding: 0 40px;
}
header > ul{
    padding-left: 260px;
    padding-top: 13px;
} */
a{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
a:hover{
    color: rgb(227 42 98);
}
.HOME{
    display: block;
    grid-area: HOME;
}
.ABOUT{
    display: block;
    grid-area: ABOUT;
}
.PRODUCT{
    display: none;
    grid-area: PRODUCT;
}
.BLOG{
    display: block;
    grid-area: BLOG;
}
.SINGLE_POST{
    display: none;
    grid-area: SINGLE_POST;
}
.hov1{
    width: 155px;
    height: 37px;
}
.hov2{
    width: 180px;
    height: 37px;
}
#firstli{
    width: 155px;
    height: 37px;
    padding-left: 260px;
    margin-top: 13px;
}
.hov1{
    margin-top: 13px;
}
.hov2{
    margin-top: 13px;
}
.hov1:hover > .PRODUCT{
    display: block;
}
.hov2:hover > .SINGLE_POST{
    display: block;
}

main{
    /* width: 1000px; */
    margin: 0 250px;
    text-align: center;
    position: relative;
    /* justify-content: center; */
}
.img1{
    width: 100%;
}
#img2{
    width: 20%;
    position: absolute;
    bottom: 25px;
    right: 130px;
}

.section1{
    display: grid;
    background-color: rgb(234 231 232);
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 20px repeat(2, 89) 30px;
    grid-template-areas: '. h3 h3 . .'
                        '. h2 h2 img .'
                        '. p p img .'
                        '. . . img .';
}
h3{
    color: rgb(171 158 159);
    /* padding-left: 100px; */
    grid-area: h3;
    padding: 40px 0 0 0;
}
.header{
    color: rgb(227 42 98);
    grid-area: h2;
    padding: 15px 0 15px 0;
}
.float{
    /* float: right; */
    grid-area: img;
}
p{
    grid-area: p;
}

.section2{
    background-color: rgb(200 193 13);
    padding: 40px 0;
    color: #fff;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu {
    display: flex;
    justify-content: space-around;
    padding: 0 250px;
}
ul > li{
    text-align: center;
}

footer{
    background-color: rgb(203 51 98);
    padding: 40px 0;
}
.menu2 {
    display: flex;
    justify-content: center;
}
.menu2 > li{
    margin: 0 15px;
}

#aboutyelow{
    background-color: #c8c10d;
    padding: 15px 0;
}
.whiteletters{
    color: #fff;
    font-size: 17px;
    text-align: center;
}
#mainABOUT{
    height: 150px;
    background-color: rgb(238 235 236);
    text-align: center;
    overflow-y: hidden;
    background-image: url(/img/img-product.png);
    background-repeat: no-repeat;
    background-position: center;
}
.inlblokABOUT1{
    background-color: rgb(238 235 236);
    grid-area: firstdiv;
    margin: 20px;
    height: 550px;
    width: 250px;
}
.inlblokABOUT2{
    grid-area: seconddiv;
    margin: 20px;
    height: 400px;
    width: 400px;
    text-align: left;
}

.pABOUT{
    padding: 20px;
    padding-bottom: 50px;
    font-size: 25px;
}
.textABOUT{
    margin: 22px 0;
}
.ulABOUT > li{
    margin: 15px 0;
}
.mainConteiner{
    color: #9c8d8d;
    height: 590px;
    width: 730px;
    margin: 0 auto;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 290px 440px;
    grid-template-areas: 'firstdiv seconddiv';
    /* text-justify: auto; */
}
.textSpasing{
    word-spacing: 5px;
    margin: 0 34px;
    line-height: 3;
}
.greyA{
    color: grey;
    text-decoration: underline;
    cursor: pointer;
    
}

.conteinerProduct{
    display: flex;
    height: 750px;
    width: 820px;
    flex-direction: column;
    flex-wrap: wrap;
    /* align-content: stretch; */
    margin: 50px auto;
}
.insideconteiner{
    text-align: left;
    height: 200px;
    width: 200px;
    border: solid rgb(0, 0, 0, 0);
    margin: 20px 0;
}
.pPRODUCT{
    margin-top: 20px;
    color: grey
}
.H2pRODUCT{
    margin-top: 20px;
    color: rgb(227 42 98);
}
.imgProduct{
    width: 70%;
    text-align: center;
    margin-left: 26px;
}
.H2pRODUCT2{
    margin: 0;
    padding: 0;
    color: rgb(227 42 98);
    text-align: center;
}

.conteinerBLOG{
    height: 800px;
    width: 900px;
    margin: 0 auto;
    margin-top: 50px;
    /* margin-bottom: 100px; */
    display: grid;
    grid-template-columns: 600px 300px;
    grid-template-rows: repeat(2 400px);
    grid-template-areas: 'desBLOG1 POST'
                        'desBLOG2 POST';
}
.description{
    height: 400px;
    width: 600px;
}
.desBLOG1{
    grid-area: desBLOG1;
}
.desBLOG2{
    grid-area: desBLOG2;
}
.POST{
    height: 800px;
    width: 300px;
    grid-area: POST;
    
    background-color: rgb(238 235 236);
}

.aBLOG{
    background-color: #fff;
    color: gray;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    margin: 20px 0;
    border: solid;
    font-size: 22px;
    display: inline-block;
    margin-left: 0;
    margin-right: auto;
}
.aBLOG:hover{
    color: white;
    background-color: grey;
}
.aBLOG:active{
    padding: 7px 18px;
    font-size: 20px;
}
.inlineBLOG{
    display: flex;
    text-align: left;
    flex-direction: column;
}
.imgBLOG{
    float: left;
    margin-right: 50px;
}
.pBlogMargin{
    margin: 45px 0;
}
.insideBLOGGrey{
    margin: 30px;
}
#imgBLOG3{
    margin: 20px 0;
}
.conteinerSINGLE{
    width: 840px;
    height: 900px;
    margin: 50px auto;
    /* border: solid black; */
    display: flex;
    flex-direction: row;
}
.conteinerinsideSINGLE{
    /* display; */
    /* text-align: left;
    flex-direction: column; */
    width: 540px;
    height: 900px;
    text-align: left;
}
.imgSINGLE{
    width: 95%;
    margin-bottom: 40px;
}
.y{
    /* text-align: center; */
    margin: 20px 172px;
    padding: 10px 15px;
    margin-top: 70px;
}
.u{
    margin-left: 30px;
}
