*{
    margin: 0;
    padding: 0;
}
.pink{
    color: rgb(227 42 98);
}
/* header, 
nav,
footer,
section{
    margin: 50px;
} */
header{
    display: flex;
    /* text-align: center; */
    height: 50px;
    justify-content: center;
    background-color: rgb(238 235 236);
    border: none;
    padding: 30px;
}
#freeeze{
    width: 125px;
    display: inline;
    padding-right: 160px;
    grid-area: freeeze;
    color: rgb(203 51 98);
    font-size: 24px;
}
span{
    color: rgb(200 193 14);
}
.conteinerFreeeze{
    display: grid;
    grid-template-columns: repeat(7, 14px);
    grid-template-rows: repeat(4, 11px);
    grid-template-areas: '. . . . . erh .'
                        'freeeze freeeze freeeze freeeze freeeze freeeze freeeze';
}
#erh{
    grid-area: erh;
}
/* header > ul > li{
    display: inline-block;
    padding: 0 40px;
}
header > ul{
    padding-left: 260px;
    padding-top: 13px;
} */
a{
    cursor: none;
    color: black;
    text-decoration: none;
    cursor: pointer;
}
a:hover{
    color: rgb(227 42 98);
}
.HOME{
    display: block;
    grid-area: HOME;
}
.ABOUT{
    display: block;
    grid-area: ABOUT;
}
.PRODUCT{
    display: none;
    grid-area: PRODUCT;
}
.BLOG{
    display: block;
    grid-area: BLOG;
}
.SINGLE_POST{
    display: none;
    grid-area: SINGLE_POST;
}
.hov1{
    width: 155px;
    height: 37px;
}
.hov2{
    width: 180px;
    height: 37px;
}
#firstli{
    width: 155px;
    height: 37px;
    padding-left: 260px;
    margin-top: 13px;
}
.hov1{
    margin-top: 13px;
}
.hov2{
    margin-top: 13px;
}
.hov1:hover > .PRODUCT{
    display: block;
}
.hov2:hover > .SINGLE_POST{
    display: block;
}

main{
    /* width: 1000px; */
    margin: 0 250px;
    text-align: center;
    position: relative;
    /* justify-content: center; */
}
.img1{
    width: 100%;
}
#img2{
    width: 20%;
    position: absolute;
    bottom: 25px;
    right: 130px;
}

.section1{
    display: grid;
    background-color: rgb(234 231 232);
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 20px repeat(2, 89) 30px;
    grid-template-areas: '. h3 h3 . .'
                        '. h2 h2 img .'
                        '. p p img .'
                        '. . . img .';
}
h3{
    color: rgb(171 158 159);
    /* padding-left: 100px; */
    grid-area: h3;
    padding: 40px 0 0 0;
}
.header{
    color: rgb(227 42 98);
    grid-area: h2;
    padding: 15px 0 15px 0;
}
.float{
    /* float: right; */
    grid-area: img;
}
p{
    grid-area: p;
}

.section2{
    background-color: rgb(200 193 13);
    padding: 40px 0;
    color: #fff;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu {
    display: flex;
    justify-content: space-around;
    padding: 0 250px;
}
ul > li{
    text-align: center;
}

footer{
    background-color: rgb(203 51 98);
    padding: 40px 0;
}
.menu2 {
    display: flex;
    justify-content: center;
}
.menu2 > li{
    margin: 0 15px;
}

#aboutyelow{
    background-color: #c8c10d;
    padding: 15px 0;
}
.whiteletters{
    color: #fff;
    font-size: 17px;
    text-align: center;
}
#mainABOUT{
    height: 150px;
    background-color: rgb(238 235 236);
    text-align: center;
    overflow-y: hidden;
    background-image: url(/img/img-product.png);
    background-repeat: no-repeat;
    background-position: center;
}
.inlblokABOUT1{
    background-color: rgb(238 235 236);
    grid-area: firstdiv;
    margin: 20px;
    height: 400px;
    width: 200px;
}
.inlblokABOUT2{
    grid-area: seconddiv;
    margin: 20px;
    height: 400px;
    width: 400px;
}

.pABOUT{
    padding: 20px;
    padding-bottom: 50px;
    font-size: 25px;
}
.textABOUT{
    margin: 5px 0;
}
.ulABOUT > li{
    margin: 15px 0;
}
.mainConteiner{
    height: 440px;
    width: 480px;
    margin: 0 auto;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(2, 240px);
    grid-template-areas: 'firstdiv seconddiv';
    /* text-justify: auto; */
}